.banner {
    position: relative;
    z-index: 1;
}
.video {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
}
.history_title>h1 {
    color: #007faf;
}
.history_title>h1>span {
    font-weight: 400;
    font-size: 30px;
}
.history_title>h1 {
    font-weight: 600;
    line-height: 35px;
}
.history_content {
    margin-top: 25px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}
.history_more {
    text-align: center;
    padding-top: 130px;
    border-left: 1px solid rgba(198, 196, 196, 0.868);
    z-index: 10;
}
.history_more>a {
    padding: 10px 20px;
    border-radius: 5px;
   background: linear-gradient(
    270deg,rgba(57,192,196,1) 0%,rgba(18,106,179,1) 100%);
}
.history_more>a:hover {
    box-shadow: inset 0 0 0 9rem rgba(255, 255, 255, 0.2);
}
.history_more>a:hover>a {
    color: #012f65 !important;
    -webkit-transition: all 600ms ease 0s;
}

.history_more>a>a {
    color: #ffff;
    font-weight: 600;
    font-size: 16px;
}

/* CSS cho màn hình có độ rộng nhỏ hơn 576px (Moblie) */
@media (max-width: 575.98px) {
    .history_title>h1 {
        font-size: 24px;
    }
    .history_title>h1>span {
        font-size: 20px;
    }
    .history_content {
        margin-top: 0px;
    }
    .history_content>p{
        max-height: 130px; /* Đặt chiều cao tối đa cho đoạn văn bản */
        overflow: hidden; /* Ẩn nội dung vượt quá kích thước khung */
        text-overflow: ellipsis; /* Hiển thị dấu elipsis (...) nếu nội dung bị cắt */
        white-space: normal; /* Cho phép ngắt dòng */
        line-height: 1.5; /* Điều chỉnh line-height cho nội dung */
    }
    .history_more>a {
        padding: 5px 5px;
    }
    .history_more>a>a {
        font-size: 10px;
    }
}

/* CSS cho màn hình có độ rộng từ 576px đến 767px (ở giữa Tablet và Moblie) */
@media (min-width: 576px) and (max-width: 767px) {
    .history_title>h1 {
        font-size: 28px;
    }
    .history_title>h1>span {
        font-size: 25px;
    }
    .history_content {
        margin-top: 0px;
    }
    .history_content>p{
        max-height: 160px; /* Đặt chiều cao tối đa cho đoạn văn bản */
        overflow: hidden; /* Ẩn nội dung vượt quá kích thước khung */
        text-overflow: ellipsis; /* Hiển thị dấu elipsis (...) nếu nội dung bị cắt */
        white-space: normal; /* Cho phép ngắt dòng */
        line-height: 1.5; /* Điều chỉnh line-height cho nội dung */
    }
    .history_more>a {
        padding: 8px 15px;
    }
    .history_more>a>a {
        font-size: 14px;
    }
}