.category_item {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background: rgba(179, 219, 237, 0.4);
}

* {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

.border {
  background-color: #004375;
  color: white;
}

.recomend_filters span {
  transition: all 0.3s linear;
  cursor: pointer;
}

.recomend_filters .current {
  background-color: #212121;
  color: #fff;
}

.section_item__separate {
  border-bottom: 2px solid #888888;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto 0px;
  width: 60px;
  transition: all 0.5s ease 0s;
  color: #012f65;
}

.section_item__separate {
  font: 700 30px/28px "Roboto", sans-serif;
  white-space: nowrap;
  line-height: 60px;
}

.section_item__separate:hover {
  width: 120px;
}

.card {
  margin: 0 8px 0 8px;
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 10px;
}

.card_badge1 {
  position: absolute;
  top: 52%;
  left: 45%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
}
.card_badge2 {
  position: absolute;
  top: 52%;
  left: 53%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
}

.card_title {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
}

.card_info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.card_info i {
  margin-right: 5px;
  color: #004375;
}

.marine_lifeImg {
  width: 100%;
  height: 300px;
}

.review a {
  color: initial;
  transition: color 0.3s ease;
}
.iconContainer {
  display: flex;
}

.tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #0085b7;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.iconContainer span:hover .tooltip {
  opacity: 1;
}

.review {
  padding-top: 20px;
}
.review a:hover {
  color: #03a9d7;
}
.starIcon {
  color: #ffa126;
  margin-right: 3px;
}

.price {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
  float: left;
}

.discount {
  color: #999;
}

.rounded_image {
  width: 50px;
  justify-content: center;
  align-items: center;
}

.h3 {
  font-size: 34px;
  font-weight: 5 00;
  letter-spacing: 0px;
  text-transform: none;
  color: #222222;
}

.animate {
  opacity: 0;
  animation: fadeIn 1s ease-in-out;
}

.slider > button {
  z-index: 10;
  width: 30px;
}

.slider > button::before {
  color: #0085b7;
  font-size: 30px;
}

.alert_success {
  display: inline-block;
  margin: 0 auto;
  position: fixed;
  transition: all 0.5s ease-in-out 0s;
  z-index: 2031;
  top: 0;
  left: 0;
  right: 0;
}
.text_center > a {
  padding: 8px 20px;
  border-radius: 6px;
  background: linear-gradient(
    270deg,
    rgba(57, 192, 196, 1) 0%,
    rgba(18, 106, 179, 1) 100%
  );
  letter-spacing: 0.5px;
  font-weight: 500;
  color: white;
}
.text_center > a:hover {
  color: #012f65;
  -webkit-transition: all 600ms ease 0s;
  box-shadow: inset 0 0 0 9rem rgba(255, 255, 255, 0.2);
}

.bg-info-transparent {
  background-color: rgba(0, 123, 255, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* CSS cho màn hình có độ rộng nhỏ hơn 576px (Moblie) */
@media (max-width: 575.98px) {
  .slider > button::before {
    display: none;
  }
  .card_title {
    font-size: 14px;
  }
  .card_info > span {
    font-size: 12px;
  }
  .review > a {
    font-size: 12px;
  }
  .marine_lifeImg {
    width: 100%;
    height: 200px;
  }
}

/* CSS cho màn hình có độ rộng từ 576px đến 768px (ở giữa Tablet và Moblie) */
@media (min-width: 576px) and (max-width: 768px) {
  .slider > button::before {
    display: none;
  }
  .card_title {
    font-size: 18px;
  }
  .card_info > span {
    font-size: 16px;
  }
  .marine_lifeImg {
    width: 100%;
    height: 250px;
  }
}
/* CSS cho màn hình có độ rộng từ 769px đến 991px (ở giữ Destop Small -> Tablet) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .slider > button::before {
    display: none;
  }
  .card_title {
    font-size: 20px;
  }
}

/* CSS cho màn hình có độ rộng từ 992px đến 1199px (Destop small) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .slider > button::before {
    font-size: 25px;
  }
  .card_title {
    font-size: 20px;
  }
}
