
.header {
    overflow: hidden;
}
.icon {
    font-size: 14px;
    margin-right: 5px;
    color: black !important;
}
.left_top_header>a {
    color: #012f65 !important;
}
.left_top_header>p {
    color: #ffffff!important;
}
.top_header {
    font-weight: 500;
    background: linear-gradient(
    270deg,rgba(57,192,196,1) 0%,rgba(18,106,179,1) 100%);
    padding-top: 3px;
    height: 35px;
    display: flex;
}

.top_header {
    border: 1px solid white;
    border-bottom: 1px solid rgba(208, 203, 203, 0.842);
}

.left_top_header {
    display: flex;
    margin-left: -70px;
}

.right_top_header {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    margin-right: -70px;
    margin-left: 140px;
   
}
.right_top_header .phone {
    display: flex;
    margin-left: 150px;
    margin-top: -2px;
}
.right_top_header .phone>a {
    color: #012f65 !important;
}
.right_top_header .phone>p {
    color: #ffffff!important;
}
.open_daily>a {
    color: #012f65 !important;
}

.open_daily>p {
    color: #ffffff!important;
    margin-top: -2px;
}
.bottom_header>nav{
    background-color: #ffffff !important; 
}
.bottom_header .logo {
    width: 280px;
    height: auto;
}
.bottom_header .navigation {
    flex-grow: 0;
}
.bottom_header .navigation .title_navigation{
    column-gap: 20px;
}
.bottom_header .navigation .title_navigation>a>a{
    font-weight: 600;
    font-size: 20px;
}
.bottom_header .navigation .title_navigation>a>a:hover{
    color:  rgba(57, 192, 196, 1);
    -webkit-transition: all 400ms ease 0s;
    box-shadow: inset 0 0 0 9rem rgba(255, 255, 255, 0.2);
}
.bottom_header .user_action {
    text-align: center;
    border-left: 1px solid black;
    position: relative;
}
.bottom_header .user_action>ul {
    display: flex;
    column-gap: 30px;
}
.bottom_header .user_action>ul>li:first-child {
   padding-top: 30px;
}
.bottom_header .user_action>ul>li>a>.login{
    display: flex;
    column-gap: 10px;
    font-weight: 600;
    font-size: 20px;
}
.bottom_header .user_action>ul>li:last-child{
    padding-top: 30px;
}
.bottom_header .user_action>ul>li>a>.cart{
    position: relative;
    font-weight: 600;
    font-size: 20px;
}
.bottom_header .user_action>ul>li>a>.cart>p{
    position: relative;
}
.bottom_header .user_action>ul>li>a>.cart>span{
    position: absolute;
    margin-top: -60px;
    border-radius: 50%;
    color: #ffffff;
    background: linear-gradient(270deg, rgba(57, 192, 196, 1) 0%, rgba(18, 106, 179, 1) 100%);
    padding: 0px 5px;
}


/* CSS cho màn hình có độ rộng nhỏ hơn 576px (Moblie) */
@media (max-width: 575.98px) {
    .right_top_header {
        display: none;
    }
    .left_top_header {
       padding-left: 100px;
    }
    .top_header {
        height: 30px;
    }
    .top_header .left_top_header>p {
        font-size: 14px;
        padding-top: 2px;
    }
    .bottom_header .user_action {
        border: none;
     }
     .bottom_header .user_action>ul {
        padding-left: 0px;
     }
     .bottom_header .navigation {
        border-bottom: 1px solid rgba(203, 197, 197, 0.933);
    }
     .bottom_header .logo {
        width: 150px;
    }
    .bottom_header .user_action>ul>li>a>.login>p>svg{
        font-size: 14px;
    }
    .bottom_header .user_action>ul>li>a>.login>span{
        font-size: 14px;
        padding-top: 3px;
    }
     .bottom_header .logo {
        width: 120px;
    }
    .bottom_header .navigation .title_navigation>a>a{
        font-size: 12px;
    }
    .bottom_header .user_action>ul>li:last-child{
        margin-right: 5px;
    }
    .bottom_header .user_action>ul>li>a>.cart>span{
       font-size: 14px;
    }
    .bottom_header .user_action>ul {
        column-gap: 20px;
    }
}
  
/* CSS cho màn hình có độ rộng từ 576px đến 767px (ở giữa Tablet và Moblie) */
@media (min-width: 576px) and (max-width: 767px) {
    .top_header {
        height: 25px;
    }
    .top_header .right_top_header .phone{
        display: none;
    }
    .top_header .left_top_header>a {
        font-size: 0px;
    }
    .top_header .left_top_header>p {
        font-size: 11px;
        padding-top: 2px;
    }
    .top_header .right_top_header .open_daily>a {
        font-size: 0px;
    }
    .top_header .right_top_header .open_daily>p {
        font-size: 11px;
        padding-top: 2px;
    }
    .top_header .left_top_header {
        margin-left: -40px;
    }
    .top_header .right_top_header {
        margin-left: 40px;
        margin-right: 0px;
        padding-left: 18px;
    }
    .bottom_header .user_action {
        border: none;
     }
     .bottom_header .user_action>ul {
        padding-left: 0px;
     }
     .bottom_header .navigation {
        border-bottom: 1px solid rgba(203, 197, 197, 0.933);
    }
     .bottom_header .logo {
        width: 150px;
        margin-left: -50px;
    }
    .bottom_header .navigation .title_navigation>a>a{
        font-size: 14px;
    }
    .bottom_header .user_action>ul {
        column-gap: 20px;
    }
}

  /* CSS cho màn hình có độ rộng từ 769px đến 991px (ở giữ Destop Small -> Tablet) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .top_header {
        height: 30px;
    }
  
    .top_header .left_top_header {
        margin-left: -23px;
        padding-left: 0px;
    }
    .top_header .left_top_header>p {
        font-size: 14px;    
        padding-top: 2px;
    }
    .top_header .right_top_header {
        margin-left: -175px;
        
    }
    .top_header .right_top_header .phone {
        font-size: 14px;
        margin-left: 130px
    }
    .top_header .right_top_header .phone>p{
        font-size: 14px;
        padding-top: 2px;
    }
    .top_header .right_top_header .open_daily{
        margin-left: 8px;
    }
    .top_header .right_top_header .open_daily>p{
        font-size: 14px;
        width: 240px;
        padding-top: 2px;
    }
    .bottom_header .user_action {
       border: none;
    }
    .bottom_header .user_action>ul {
        padding-left: 0px;
     }
     .bottom_header .navigation {
        border-bottom: 1px solid rgba(203, 197, 197, 0.933);
    }
    .bottom_header .logo {
        width: 180px;
        margin-left: -30px;
    }
    .bottom_header .navigation .title_navigation>a>a{
        font-size: 16px;
    }
    .bottom_header .user_action>ul {
        column-gap: 20px;
    }
  }
  
  /* CSS cho màn hình có độ rộng từ 992px đến 1199px (Destop small) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .left_top_header {
        margin-left: -25px
    }   
    .right_top_header {
        margin-left: 0px;
        margin-right: 0px;
    }
    .right_top_header .phone {
        margin-left: -5px;
    }
    .bottom_header .navigation .title_navigation{
        column-gap: 5px;
    }
    .bottom_header .navigation .title_navigation>a>a{
        font-size: 18px;
    }
    .bottom_header .logo {
        margin-left: -40px;
    }
    .bottom_header .user_action>ul {
        column-gap: 20px;
    }
    .bottom_header .user_action>ul>li:last-child{
      padding-right: 40px;
    }
  }
  
  /* CSS cho màn hình có độ rộng từ 1200px trở lên (Destop big) */
  @media (min-width: 1200px) and (max-width: 1439.98px){
    .left_top_header {
        margin-left: -70px;
    }
    .right_top_header {
        margin-left: 130px;
    }
    .right_top_header .phone{
        margin-left: 60px;
     }
    
  }
